<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
		
<import resource="classpath:configs/hibernateTemplate.xml"/>
<aop:aspectj-autoproxy proxy-target-class="true"/>
<bean id = "credentials" class="Login.Credentials"/>
<bean id = "transactionBean" class="TransactionDetails.Transaction"/>
<bean id = "creditCardBean" class="AuthorizeCCTransactions.CreditCard"/>
<bean id = "customerBean" class="CreateAccount.Customer" autowire="byName"/>
<bean id = "accountsBean" class="Transactions.Accounts"/>
<bean id = "creditCardHelperBean" class = "AuthorizeCCTransactions.CreditCardHelper"/>
<bean id = "createTransactionsDaoBean" class = "Transactions.TransactionsDao"/>

<bean id = "createAccountDaoBean" class = "CreateAccount.CustomerDaoImpl">
	<property name="hibernateTemplate" ref="hibernateTemplate" />  
</bean>

<bean id = "createCreditCardTransactionsDaoBean" class = "AuthorizeCCTransactions.CreditCardTransactionsDaoImpl">
	<property name="hibernateTemplate" ref="hibernateTemplate" />  
</bean>

<bean id = "accountsDaoImplBean" class = "Transactions.AccountsDaoImpl">
	<property name="hibernateTemplate" ref="hibernateTemplate" />  
</bean>

<bean id = "transactionDaoImpl" class = "TransactionDetails.TransactionDaoImpl">
	<property name="hibernateTemplate" ref="hibernateTemplate" />  
</bean>

<bean id = "credentialsDaoImpl" class = "Login.CredentialsDaoImpl">
	<property name="hibernateTemplate" ref="hibernateTemplate" />  
</bean>

<bean id = "authorizeCCTransactionsLogs" class="Logger.AuthorizeCCTransactionsLogs"/>
<bean id = "createAccountLogs" class = "Logger.CreateAccountLogs"/>
<bean id = "transactionDaoLogs" class = "Logger.TransactionDaoLogs"/>
<bean id = "displayBankStatementLogs" class = "Logger.DisplayBankStatementLogs"/>


<aop:config>
	    <aop:aspect id="creditCardAmountUpdationLogs" ref="authorizeCCTransactionsLogs">
	    <aop:pointcut expression="execution(void AuthorizeCCTransactions.CreditCardHelper.creditCardAmountBorrowedUpdation(..))" id="creditCardAmountUpdation"/>	
			<aop:before method = "beforeApprovingCCTransactions" pointcut-ref = "creditCardAmountUpdation"/>
			<aop:after method =  "afterApprovingCCTransactions"  pointcut-ref = "creditCardAmountUpdation" />
		</aop:aspect>
</aop:config>
		
<aop:config>
	    <aop:aspect id="accountCreationLogs" ref="createAccountLogs">
	    <aop:pointcut expression="execution(Integer CreateAccount.CustomerDaoImpl.save(..))" id="accountCreation"/>	
			<aop:before method = "beforeCreateNewAccount" pointcut-ref = "accountCreation"/>
			<aop:after method =  "afterCreateNewAccount"  pointcut-ref = "accountCreation" />
		</aop:aspect>
</aop:config>

<aop:config>
	    <aop:aspect id="transactionLogs" ref="transactionDaoLogs">
	    <aop:pointcut expression="execution(boolean Transactions.TransactionsDao.performTransaction(..))" id="performTransactionFromAccount"/>	
			<aop:before method = "beforePerformTransaction" pointcut-ref = "performTransactionFromAccount"/>
			<aop:after method =  "afterPerformTransaction"  pointcut-ref = "performTransactionFromAccount" />
		</aop:aspect>
</aop:config>

<aop:config>
	    <aop:aspect id="bankStatementLogs" ref="displayBankStatementLogs">
	    <aop:pointcut expression="execution(* TransactionDetails.TransactionDaoImpl.getTransactionDetails(..))" id="getBankStatement"/>	
			<aop:before method = "beforeFetchingTransactionDetails" pointcut-ref = "getBankStatement"/>
			<aop:after method =  "afterFetchingTransactionDetails"  pointcut-ref = "getBankStatement" />
		</aop:aspect>
</aop:config>
		
</beans>